#settings
  %h3#stream_title Settings
  %ul{:class => "nav nav-pills", :id => "settings-pills"}
    %li.active
      %a{:href => "#"} General Settings
    %li
      = link_to('Import/Export', settings_import_export_path)
    %li
      %a{:href => "#tabs-3"} Administration
