%h4 Import OPML file
= form_tag(settings_do_import_path + ".js", :method => "post", :remote => true, :multipart => true) do
  %p
    .fileupload.fileupload-new{:data => {:provides => "fileupload"}}
      %span.btn.btn-file
        %span.fileupload-new
          %i.icon-file-alt
          Select file
        %span.fileupload-exists Change
        %input{:type => "file", :name => "file"}
      %span.fileupload-preview
        %a.close.fileupload-exists{:href => "#", |
                                   :data => {:dismiss => "fileupload"}, |
                                   :style => "float: none"} x
      &nbsp;
      = submit_tag("Import", :class => "btn btn-info")
  %br

%h4 Export as OPML
%p Not implemented yet
